<div class="container-fluid">
    <div class="row m-4">
        <div class="col">
            <h3>Bienvenido a SeguimientoPlus, la aplicación líder para profesionales del control de la alimentación y
                los hábitos.</h3>
        </div>
    </div>
    <div class="row m-4">
        <div class="col m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-users-gear"></i> Pacientes</h5>
                    <p class="card-text">Gestión sobre todos tus pacientes.</p>
                    <a routerLink="/pacientes" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
        <div class="col m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-brain"></i> Preguntas</h5>
                    <p class="card-text">Gestión sobre tus preguntas personalizadas.</p>
                    <a routerLink="/preguntas" class="btn btn-primary">Ir</a>
                </div>
            </div>
        </div>
    </div>
</div>