<div class="card m-4" *ngIf="pacienteId">
    <div class="card-body">
        <h5 class="card-title text-center">Documentos</h5>
        <table class="text-center table table-primary table-responsive table-striped table-hover caption-top">
            <caption><input class="form-control" type="file" name="inputFile" id="inputFile" (change)="capturarArchivo($event)"></caption>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Documento</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documento of documentos">
                    <td>{{documento.fechaRegistro | date:'yyyy-MM-dd'}}</td>
                    <td><a href="javascript:void(0)" (click)="descargarDocumento(documento)">{{documento.nombre}}</a></td>
                    <td><button class="btn btn-danger" (click)="borrarDocumento(documento.id)"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
        <app-paginador *ngIf="paginador" [paginador]="paginador" (numeroPagina)="obtenerPagina($event)"></app-paginador>
    </div>
</div>
